.background {
    width: 100vw;
    height: 70vh;
    position: relative;
}

.logo-city {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 200px;
    bottom: -60px;
}


@media screen and (max-width: 700px) {
    .logo-city {
        width: 200px;
        height: 200px;
        bottom: -100px;
        left: 50%;
        transform: translateX(-50%);
    }
}